PORT=5000
MONGODB_URI=mongodb://vinay:vinay123@ac-7j37cgu-shard-00-00.9binmsx.mongodb.net:27017,ac-7j37cgu-shard-00-01.9binmsx.mongodb.net:27017,ac-7j37cgu-shard-00-02.9binmsx.mongodb.net:27017/?ssl=true&replicaSet=atlas-zzwd1i-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FRONTEND_URL=http://localhost:3000
